<a class="needhelp" href="#">Need help? <u>1-833-CANVAS</u></a>
<div class="shipInfo">
  <div class="siLft">
    Shipping Info:
  </div>
  <div class="siRyt">
    <ul>
      <li><span>US, CA, UK, AU: </span>7 working days</li>
      <li><span>Europe:  </span>15 working days</li>
      <li><span>Rest of the world: </span>15-20 working days</li>
    </ul>
  </div>
</div>
<ul class="shipIcnz">      
  <li> <img src="//cdn.shopify.com/s/files/1/2012/8501/files/icon-free-shipping_thumb.png?v=1581936674" alt="Image" title="Free Shiping">
    <p>Free Shipping in the USA</p>
  </li>    
  <li> <img src="//cdn.shopify.com/s/files/1/2012/8501/files/icon-ready-to-hang_thumb.png?v=1581936699" alt="Image" title="Free Shiping">
    <p>Ready to mount</p>
  </li>    
  <li> <img src="//cdn.shopify.com/s/files/1/2012/8501/files/icon-best-price-guarantee_thumb.png?v=1581936716" alt="Image" title="Free Shiping">
    <p>Best Price Guarantee</p>
  </li>      
</ul>