<div class="sin-pro-qa-ls-sec">
  <div class="sin-pro-qa-ls-sec-inn">
	<div class="sin-pro-qa-ls-top">
		<div class="sin-pro-qa-ls-top-inn">
			<h3>Quality, Lasting Production</h3>
			<p>Every product is made of soft cotton / polyester canvas stretched on a wooden frame. The frames are finger-jointed and reinforced to make sure they last long. The arrive with metal saw tooth hangers at the back. </p>
		</div>
	</div>
	<div class="sin-pro-qa-ls-bot">
		<div class="sin-pro-qa-ls-bot-row">
			<div class="sin-pro-qa-ls-bot-img">
				<img src="{{'product-features1.jpg' | asset_url }}" />
			</div>
			<div class="sin-pro-qa-ls-bot-text">
				<h3>Art Gallery Level of Quality</h3>
				<p>We employ the use of UL Certified Greenguard Gold Ink for every print which provides not only a great quality pigment but also makes the canvas; water, fade, scratch and crack resistant. We produce perfect genuine artist quality canvas.</p>
			</div>
		</div>
		<div class="sin-pro-qa-ls-bot-row">
			<div class="sin-pro-qa-ls-bot-img sin-pro-bot-img-rt">
				<img src="{{'product-features2.jpg' | asset_url }}" />
			</div>
			<div class="sin-pro-qa-ls-bot-text sin-pro-bot-text-lt">
				<h3>Sustainable wood, non bending, hand-jointed stretchers</h3>
				<p>We use 1.25" thick FSC Certified wrap-free, knotfree, kiln-dried wood from sustainable forests. The frames are finger-jointed for better strength. Every canvas is ready to hang with metal sawtooth hangers and rubber bumpers for a smooth fit on your wall.</p>
			</div>
		</div>
		<div class="sin-pro-qa-ls-bot-row">
			<div class="sin-pro-qa-ls-bot-img">
			<img src="{{'product-features3.jpg' | asset_url }}" />
			</div>
			<div class="sin-pro-qa-ls-bot-text">
				<h3>100% real pine woord, Italy made frames</h3>
				<p>Our Roma Moulding are made from 100% real pine wood, professionally handcrafted in Italy. Every frame is sanded five times to ensure a perfect finish without chipping. Matte black finish.</p>
			</div>
		</div>
	</div>
</div>
</div>