<div class="page-width">
  <div class="CstHelp">
    <div class="CsHlpHdr">
      <h2>We’re here to help</h2>
      <p>Have questions or doubts? Get in touch and we will put all efforts to help or get you answers. Customer satisfaction is our number one priority!</p>
    </div>

    <div class="Cst3Box">
      <div class="CstBox">
        <a target="_blank" href="https://nichecanvas.com/pages/help-center">
        <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/helpcenter.svg" alt="img" title="img">
        <h4>Help Center</h4>
        <p>Find answers to commonly asked questions.</p>
        </a>
      </div>
<!--       <div class="CstBox ConstctNow">
        <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/chatWithUs.svg" alt="img" title="img">
        <h4>Chat With Us</h4>
        <p>Use site chat widget to get in contact with our representative.</p>
        </a>
      </div> -->
      <div class="CstBox">
        <a href="mailto:support@nichecanvas.com">
        <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/support.svg" alt="img" title="img">
        <h4>support@nichecanvas.com</h4>
        <p>Write to us. We respond within one business day.</p>
        </a>
      </div>
    </div>
    <div class="CsFtradrz">
      <div class="CsFtr">
        <h2>NicheCanvas</h2>
        <p>18 Rue St-Antoine<br>
          Ste-Marie De Beauce<br>
          Quebec, Canada G6E4B7</p>
      </div>
    </div>

  </div>
</div>
