<p><a id="pagecontent" name="pagecontent"></a></p>
<div class="rte">
<div id="emb-email-header-container" class="header" style="margin: 0 auto; max-width: 50%; min-width: 150px; width: calc(28000% - 167400px);"><!-- [if (mso)|(IE)]><table align="center" class="header" cellpadding="0" cellspacing="0" role="presentation"><tr><td style="width: 600px"><![endif]-->
<h1 style="text-align: center">How Sezzle Works</h1>
<div class="logo emb-logo-margin-box" style="font-size: 26px; line-height: 32px; color: #c3ced9; font-family: Roboto,Tahoma,sans-serif; margin: 6px 20px 20px 20px;" align="center">
<div id="emb-email-header" class="logo-center" align="center"><img style="display: block; height: auto; width: 100%; border: 0; max-width: 200px; margin-bottom: 35px;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/1.png" alt="" width="244" /></div>
</div>
<!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
<div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 90%; min-width: 320px; width: 320px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
<div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #fff;"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" style="background-color: #fff;"><td style="width: 600px" class="w560"><![endif]-->
<div class="column" style="text-align: left; color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px);">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px; margin: 0 auto;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0; display: block; height: auto; width: 100%;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/2.png" alt="" width="600" /></div>
</div>
<!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
</div>
<div class="layout three-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
<div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #fff;"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" style="background-color: #fff;"><td style="width: 200px" valign="top" class="w160"><![endif]-->
<div class="column" style="text-align: left; color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; float: left; max-width: 320px; min-width: 200px; width: calc(72200px - 12000%);">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0px; display: block; height: auto; width: 100%; max-width: 250px; margin-left: auto; margin-right: auto;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/3.png" alt="" width="200" /></div>
</div>
<!-- [if (mso)|(IE)]></td><td style="width: 200px" valign="top" class="w160"><![endif]-->
<div class="column" style="color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; float: left; max-width: 320px; min-width: 200px; width: calc(72200px - 12000%); text-align: center;">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0; display: block; height: auto; width: 100%; max-width: 250px;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/4.png" alt="" width="200" /></div>
</div>
<!-- [if (mso)|(IE)]></td><td style="width: 200px" valign="top" class="w160"><![endif]-->
<div class="column" style="text-align: left; color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; float: left; max-width: 320px; min-width: 200px; width: calc(72200px - 12000%);">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0px; display: block; height: auto; width: 100%; max-width: 250px; margin-left: auto; margin-right: auto;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/5.png" alt="" width="200" /></div>
</div>
<!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
</div>
<div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
<div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #fff;"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" style="background-color: #fff;"><td style="width: 600px" class="w560"><![endif]-->
<div class="column" style="text-align: left; color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px);">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0; display: block; height: auto; width: 100%; max-width: 400px;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/61.png" alt="" width="600" /></div>
</div>
<!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
</div>
<div style="mso-line-height-rule: exactly; line-height: 20px; font-size: 20px;">&nbsp;</div>
<div>
<p style="font-family: 'Open Sans'; text-align: center;">To learn more about Sezzle, <a style="color: #00c64a;" href="https://sezzle.com">click here</a>.</p>
</div>
<div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
<div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #fff;"><!-- [if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" style="background-color: #fff;"><td style="width: 600px" class="w560"><![endif]-->
<div class="column" style="text-align: left; color: #8e959c; font-size: 14px; line-height: 21px; font-family: sans-serif; max-width: 600px; min-width: 320px; width: calc(28000% - 167400px);">
<div style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;" align="center"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0; display: block; height: auto; width: 100%; max-width: 900px;" draggable="true" src="https://sezzlemedia.s3.amazonaws.com/sezzle-credit-website-assets/info-page/71.png" alt="" width="600" /></div>
</div>
</div>
</div>
</div>
<div class="sixteen columns page clearfix">
<div class="feature_divider">&nbsp;</div>
</div>